@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-pharmacy-bg text-slate-900 antialiased;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

html, body {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-400 rounded-full;
}
